.main-website-cart-wrapper {
  .order-process-tab {
    padding: 0;
  }
  .order-single-detail-wrapper
    .order-single-detail-inner-wrapper
    .order-single-detail-left
    .order-single-image-detail-wrapper
    .order-single-details
    .process-order-price {
    font-size: 15px;
    font-weight: 700;
    color: black;
    .order-discountprice {
      font-size: 12px;
      font-weight: 400;
      margin-left: 5px;
    }
    .offer-discountprice {
      font-size: 12px;
      font-weight: 400;
      margin-left: 5px;
      color: $brand-green;
    }
  }
  .order-single-detail-wrapper
    .order-single-detail-inner-wrapper
    .order-single-detail-left
    .order-single-image-detail-wrapper
    .order-single-details
    h4 {
    margin-bottom: 3px;
  }
  .order-single-detail-wrapper
    .order-single-detail-inner-wrapper
    .order-single-detail-left
    .order-single-image-detail-wrapper
    .order-single-image {
    width: 80px;
  }

  .cart-confirm-info {
    p {
      font-weight: 600;
      font-size: 12px;
      color: #97a6b1;
    }
    .btn {
      background-color: $brand-orange;
      color: white;
      width: 250px;
    }
  }
  .process-coupon-applied-wrapper {
    margin-top: 20px;
  }
  //    .row  .col-lg-3{
  // order: -1;
  //   }
}

.sizechart-overlay-inner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #544d5e;
  opacity: 0.9;
  z-index: 9999;
}
.sizechart-overlay-inner {
  position: absolute;
  width: 70%;
  padding: 30px;
  opacity: unset;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: white;
  z-index: 999999;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}
.sizechart-overlay-content-inner {
  width: 100%;
  img {
    width: 100%;
  }
}
