.user-dashboard-home-menu {
    h6 {
        width: 100%;
        background-color: white;
        padding: 0.5rem 1rem;
        font-weight: 400;
    }
    .return-filter-product {
        padding: 20px;
        margin-bottom: 15px;
        background-color: white;
    }
    .return-filter-product.margin-sect {
        margin-top: 15px;
    }
    .return-filter-product h5 {
        font-size: 14px;
        font-weight: 500;
    }
    .return-filter-product .form-check-label {
        font-size: 14px;
    }
    .return-filter-product .col-12 {
        margin: 0;
        margin-bottom: 8px;
    }
}

.myorders-hero-wrapper {
    background-image: url('../img/orderhero.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 370px;
    .myorders-hero-description-wrapper {
        h2 {
            color: white;
            text-align: center;
        }
        h5 {
            color: white;
            text-align: center;
            margin-top: 70px;
        }
    }
    .myorders-hero-description-image {
        display: flex;
        justify-content: center;
        align-items: center;
        h6 {
            color: white;
            margin-bottom: 0;
        }
        .myorders-hero-description-image-inner {
            width: 80px;
            img {
                width: 100%;
            }
        }
    }
    .myorders-hero-inner-image {
        width: 400px;
        img {
            width: 100%;
        }
    }
    .row {
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .myorders-hero-wrapper {
        height: 500px;
        .myorders-hero-inner-image {
            margin: 0 auto;
        }
        .myorders-hero-description-wrapper {
            padding-top: 30px;
            h5 {
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .myorders-hero-wrapper {
        height: 370px;
        .myorders-hero-description-image {
            h6 {
                font-size: 13px;
            }
        }
        .myorders-hero-inner-image {
            width: 250px;
        }
    }
}

.myorder-search-wrapper {
    .btn {
        background-color: $brand-orange;
        color: white;
    }
}

.order-single-detail-wrapper {
    .order-single-detail-inner-wrapper {
        background-color: white;
        border-radius: 5px;
        padding: 15px 20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        .order-single-detail-header {
            justify-content: space-between;
            align-items: center;
            display: flex;
            .order-number {
                font-size: 13px;
                color: $brand-orange;
            }
            .order-date {
                font-size: 13px;
                color: #BDBDBD;
                text-align: right;
            }
        }
        .order-detail-list-wrapper {
            .order-item {
                padding: 20px 0;
            }
        }
        .order-single-detail-left {
            .order-single-image-detail-wrapper {
                display: flex;
                align-items: flex-start;
                .order-single-image {
                    width: 70px;
                    img {
                        width: 100%;
                    }
                }
                .order-single-details {
                    padding-left: 10px;
                    h4 {
                        font-size: 14px;
                        font-weight: 600;
                    }
                    p {
                        font-size: 12px;
                        margin-bottom: 5px;
                        color: $text-light-blue;
                    }
                }
            }
        }
        .order-single-detail-right {
            .order-shipment-invoice-wrapper {
                display: flex;
                justify-content: end;
                .form-select {
                    font-size: 13px;
                }
                .form-label {
                    margin-bottom: 0;
                    font-size: 11px;
                    color: #4C6C8D;
                }
                p {
                    font-weight: 700;
                }
            }
        }
    }
}

.order-detail-list-wrapper>* {
    border-top: 2px solid #E0E0E0;
}

.custom-border-none {
    border-top: none;
}

@media screen and (max-width: 850px) {
    .order-single-detail-wrapper {
        overflow-x: scroll;
    }
    .order-single-detail-wrapper::-webkit-scrollbar {
        width: 2px;
    }
    .order-single-detail-wrapper::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px rgba(175, 175, 175, 0.3);
    }
    .order-single-detail-wrapper::-webkit-scrollbar-thumb {
        background-color: rgb(165, 165, 165);
        outline: 1px solid rgb(172, 172, 172);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .orderlist-detail {
        width: 840px;
    }
}