.add-new-address {
    display: grid;
    place-items: center;
    background-color: white;
    padding: 40px 20px;
    margin-bottom: 20px;
    .btn {
        color: $brand-orange;
        border-color: $brand-orange;
    }
}

.saved-address-wrapper {
    background-color: white;
    padding: 20px;
    h5 {
        font-size: 17px;
    }
    .saved-address-item-wrapper {
        border: 1px solid rgb(219, 219, 219);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        -o-border-radius: 10;
        background-color: white;
        padding: 10px;
        .item-header {
            display: flex;
            margin-bottom: 5px;
            align-items: center;
            h6 {
                margin-bottom: 0;
                margin-right: 50px;
                font-size: 14px;
            }
            span {
                background-color: rgb(228, 228, 228);
                color: black;
                padding: 5px 10px;
                font-size: 12px;
            }
        }
        p {
            font-size: 12px;
            color: $text-light-grey;
            width: 250px;
        }
        .saved-address-right {
            .bi-pencil-square {
                display: block;
                margin: 15px 0;
                font-size: 20px;
                color: rgb(182, 182, 182);
            }
            .bi-trash {
                color: $brand-orange;
                font-size: 20px;
            }
            a {
                color: unset;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .saved-address-wrapper .saved-address-item-wrapper p {
        width: 200px;
    }
}