$brand-orange: #EC7C03;
$brand-green: #81C115;
$brand-light-orange: #F2994A;
$brand-yellow: #F2C94C;
$brand-blue: #2F80ED;
$brand-red: #EB5757;
$text-blue: #002448;
$text-blue-v2: #022444;
$text-light-blue: #4C6C8D;
$text-light-grey: #97A6B1;
$text-dark-grey: #8A8A8A;
$white: #F6FFE7;
$green-light: #DCEAC5;